/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f9f4ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 50px;
    margin-right: 10px;
}

.highlight{
    
    color: red;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0b0b0b;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contact Section Styles */
.contact-section {
    padding: 50px 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
}

.contact-section h2 {
    text-align: center;
    color: #585a5b;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

form {
    flex: 1;
    margin-right: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #585a5b;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #454545;
}

.contact-info {
    flex: 1;
}

.contact-info p,
.contact-info div {
    margin-bottom: 20px;
}

.contact-info .social-media a {
    margin-right: 10px;
}


/* Footer Styles */
footer {
    background-color:  #f9f4ee;
    color: #4b4646;
    padding: 40px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#footer-logo {
    width: 50px;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-links div {
    margin-right: 20px;
}

.footer-links h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #484242;
    text-decoration: none;
    font-size: 14px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-bottom .social-media a {
    margin-right: 10px;
}
